@font-face {
    font-family: demo;
    src: url(fonts/demo.otf);
}


html {
    background: linear-gradient(to right, purple, blue, purple);
    background-repeat: no-repeat;
    height: 180vh;
    font-family: demo;
    background-attachment: fixed;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 2.4vw;
    transition: color 0.5s;
    text-shadow: 2px 2px 5px rgb(197, 253, 255);
    margin-right: 10px;
    margin: 3%;


}

nav a:hover {
    border-bottom: 1px solid rgb(173, 169, 169);
}

nav a:hover {
    color: rgb(173, 169, 169);
}


.Navright {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;

}

.Navright img {
    width: 40px;
    height: auto;


}


.logo {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 60%;

}

nav a:hover {
    border-bottom: 1px solid rgb(173, 169, 169);
}

header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    width: 80%;
    margin: 30px auto;

}

.section {
    padding: 50px;
    background: #000;
}

.section h2 {
    font-size: 2.5rem;
    color: #fff;
}

.section p {
    font-size: 1.2rem;
    color: #fff;
}


#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }

}

#progress:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

#progress:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

/*Store Html*/

.Body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.wrapper {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;

}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: 'Foreign';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
    align-items: center;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -35%) rotate(25deg);
    width: 200px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card:hover .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {
    background: #9bdc28;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    margin-top: -15px;
    cursor: pointer;
}


.container .card .contentBx a {
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    border-radius: 4px;
    margin-top: -5px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

/*End Store Html*/

/*Index/Main Page Html*/

.divison {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
}

.box:hover {
    height: 400px;

}

.box .imgFx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .imgFx img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}

.box .imgFx img:hover {
    opacity: 1;
}

.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    border-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);

}

.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
    border-image: linear-gradient(to top, violet, indigo, blue, green, yellow, orange, red);
}

.box:before,
.box:after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);

}

.box:nth-child(2):before,
.box:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2169f3);
}

.box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .content {
    opacity: 1;
}

.box:hover .content h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}

.box:hover .content h2 span {
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 1px;
}

/*Shows */

/*End, Index Html*/

/*Contacts Html*/

.bodyA {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: #0d129e;
}

.containerA {
    position: relative;
    width: 100%;
    max-width: 1700px;
    margin: 20px;
    height: 600px;
    background: #122647;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerA .formBx {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerA .formBx form {
    position: relative;
    width: 100%;
    padding: 0 0 0 75px;
}

.containerA .formBx form h2 {
    color: #fff;
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.containerA .formBx form .inputBox {
    position: relative;
    margin-bottom: 40px;
}

.containerA .formBx form .inputBox:last-child{
    margin-bottom: 0px;
}

.containerA .formBx form .inputBox input,
.containerA .formBx form .inputBox textarea{
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    resize: none;
}

.containerA .formBx form .inputBox textarea{
    height: 100px;
}

.containerA .formBx form .inputBox input[type="submit"]{
    background: #fff;
    padding: 8px 20px;
    margin-top: -10px;
    width: 100px;
    cursor: pointer;
    background: #ff5064;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.containerA .formBx form .inputBox input[type="submit"]:focus{
    background: #1bfaad;
    color: #111;
}

.containerA .formBx form .inputBox span{
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s;
}

.containerA .formBx form .inputBox input:focus ~ span,
.containerA .formBx form .inputBox textarea:focus ~ span,
.containerA .formBx form .inputBox input:valid ~ span,
.containerA .formBx form .inputBox textarea:valid ~ span{
    transition: translateY(-24px);
    color: #1bfaad;
    font-size: 14px;
}

.containerA .formBx form .inputBox input:focus,
.containerA .formBx form .inputBox textarea:focus,
.containerA .formBx form .inputBox input:valid,
.containerA .formBx form .inputBox textarea:valid{
    border-bottom-color: #fff;
}

.container .imgFx{
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.container .imgFx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff5064;
    transform-origin: bottom;
    transform: skewX(-25deg) translateX(10%);
}

.container .imgFx img{
    position: absolute;
    bottom:0;
    max-height: 95%;
}

@media (max-width: 991px){
    .container .formBx{
        width: 100%;
        padding: 0 50px;
    }
    .container .formBx form{
        width: 100%;
        max-width: 500px;
        padding: 0;
    }
    .container .imgFx{
        display: none;
    }
}

/*This is the contacts page where you message us about the products if something is wrong or just overall anythinhg you have in mind about the product*/



/*End Contacts Html*/

/* shooping cart */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; 
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.containerF {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/* end, shopping cart */

.gradient-box {

    display: flex;
    align-items: center;
    width: 70%;
    margin: 20px auto;
    max-width: 2000px;
    position: relative;
    padding: 250px;
    box-sizing: border-box;
    color: #FFF;
    background-image: url("images/max.png");
    background-size: 90%;
    background-position: center;
    background-clip: padding-box;
    background-repeat: no-repeat;
    border: solid 5px transparent;
    border-radius: 1em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.25fr;
    grid-gap: 5px 5px;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . .";

}

.gradient-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;

    border-radius: inherit;
    background: linear-gradient(to right, rgb(255, 0, 140), rgb(255, 174, 0), rgb(255, 0, 140));
    box-shadow: 10px 15px 50px 1px #000000;

}

.gradient box img {
    width: 100%;
}


.right {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 1px;
    margin: 0px 10px;
}
